# project specific
extras
todo.txt
**/old/**
.DS_Store
notes 
logs
ehr_env
synthea_data
chat_logs
*_prompt.txt

# other stuff
.env
__pycache__

# middleman
docker/middleman/target/*

# vm_handler
vm_handler/target/*
vm_handler/.vm/*