# Rendered at container start by envsubst
# Exposes JWT secret as a variable accessible to njs via $jwt_secret_baked
map "${JWT_SHARED_SECRET}" $jwt_secret_baked {
    default "${JWT_SHARED_SECRET}";
}


